body {
  background-image: url("https://ae01.alicdn.com/kf/HTB1aUfoQFXXXXXiXpXXq6xXFXXXd/Free-Shipping-abstract-plain-clear-color-large-area-works-living-room-restaurant-background-lobby-studio-wallpaper.jpg_640x640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: Princess'Sofia';
}
p,.contacts {
  text-align: center;
}
