body {
  background-image: url("https://ae01.alicdn.com/kf/HTB1aUfoQFXXXXXiXpXXq6xXFXXXd/Free-Shipping-abstract-plain-clear-color-large-area-works-living-room-restaurant-background-lobby-studio-wallpaper.jpg_640x640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: Princess'Sofia';
  color: olive;
  font-family: 'Monoton', cursive;
  padding-bottom: 2em;
  margin-top: 20px;
  font-size: bolder;

}
p,.contacts {
  text-align: center;
}
.img-fluid {
  position: relative;
}
p {
font-family: 'Racing Sans One', cursive;
font-size: 20px;
}
nav a {
  color: black;
  font-weight: bolder;
}
.contacts{
  text-align: center;
}
marquee h1 {
  text-align: center;
}